<form action="/logs" method="post">
    <label for="title">Title</label>
    <input type="text" name="title">
    <br>
    <label for="entry">Entry</label>
    <input type="text" name="entry">
    <br>
    <label for="shipIsBroken">Ship Is Broken</label>
    <input type="checkbox" name="shipIsBroken">
    <br>
    <button type="submit">Submit</button>
</form>